/* 
    Document   : frontend
    Created on : 25/01/2012, 01:58:41 PM
    Author     : jrodriguez
    Description:
        Purpose of the stylesheet follows.
*/

body{
    color: #000000;
    font-family: arial;
    font-size: 12px;
    text-align: justify;
    background-color: #E9E8E8;
    background-image: url('../images/old_paper.jpg');
}

input, textarea, select{
    text-transform: uppercase;
}

hr{
    background-color: #ffdd57;
    border: 0 none;
    color: #ffdd57;
    height: 1px;
    width: 100%;
}

img{
    border: none;
}

#mostrar_error{
    color: #F00;
    position: relative;
    display: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#mostrar_error2{
    color: #f00;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#cabecera{
    background-color: #FFFFFF;
    background-image: url('../images/logo_mat.png');
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
    height: 40px;
    width: 800px;
    border.radius: 15px 15px 0 0;
    -moz-border-radius:15px 15px 0 0;
    -webkit-border-radius:15px 15px 0 0;
}

.hr_cabecera{
    margin: auto;
    padding: 0;
    background-color: #ed1c2a;
    border: 0 none;
    color: #ed1c2a;
    height: 5px;
    width: 800px;
}

#global{
    width: 800px;
    margin: auto;
}

#global_sep{
    padding-top: 12px;
}

#menu{
    width: 165px;
    float: left;
    padding: 0 0 20px 0;
}

#boton_inicio img{
    border: none;
    width: 32px;
    height: 37px;
}

#lista_accordion{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#lista_accordion a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#lista_accordion a:hover{
    color: #FFA500;
    text-decoration: none;
    font-weight: bold;
}

#contenido{
    padding: 0 0 0 5px;
    width: 630px;
    float: left;
}

#contenido_externo{
    width: 800px;
    float: left;
}

#pie_pagina{
    clear: both;
    margin: auto;
    width: 800px;
    text-align: center;
    padding-top: 15px;
}

#pie_pagina hr{
    background-color: #000000;
    border: 0 none;
    color: #000000;
    height: 1px;
    width: 100%;
}

#izq_pie_pagina{
    background-image: url('../images/esquina_izquierda.png');
    width: 40px;
    height: 65px;
    background-repeat: no-repeat;
    float: left;
}

#pie_pagina_central{
    background-image: url('../images/centro.png');
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    width: 720px;
    height: 65px;
    float: left;
}

#pie_pagina_central span{
    font-size: 10px;
}

#der_pie_pagina{
    background-image: url('../images/esquina_derecha.png');
    width: 40px;
    height: 65px;
    background-repeat: no-repeat;
    float: left;
}

#div_fecha{
    text-align: right;
}

#titulos_tabla{
    width: 100%;
}

#titulos_tabla th{
    text-align: left;
    font-size: 16px;
    color: #CC0000;
    width: 170px;
}

#titulos_tabla td{
    text-align: left;
    padding-left: 5px;
    font-size: 16px;
    color: #000000;
}

#titulo_modulo{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #B45F04;
    padding-bottom: 10px;
}

#titulo_index{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #285c00;
    /*color: #73B65A;*/
    padding-bottom: 10px;
}

#titulo_principal{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #73B65A;
    padding-bottom: 10px;
}

#modulo{
    padding: 15px;
    background-color: #FFFFFF;
    border.radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

#principal{
    font-size: 16px;
    width: 100%;
}

#principal th{
    text-align: left;
}

#modulo_externo{
    padding: 15px;
    background-image: url('../images/fondo_externo.jpg');
    background-repeat: no-repeat;
    border.radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

.labelText{
    color: #000000;
}

.inputLogin{
    width: 90%;
}

.btnLogin{
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

#table_login{
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: 3px #000000 solid;
    border.radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

#botones{
    text-align: right;
    margin-bottom: 15px;
}

#mensajes{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.msj_verde{
    color: darkgreen;
}

.msj_rojo, .error{
    color: #F00;
    font-weight: bold;
}

.titulos_tabla{
    background-color: #04B486;
    color: #FFFFFF;
}

.primeraclase{
    background-color:#FFF;
    border:1px solid #FFF;
    padding-top: 1px;
    padding-bottom: 1px;
}

.segundaclase{
    background-color:#F4F4F4;
    border:1px solid #FFF;
    padding-top: 1px;
    padding-bottom: 1px;
}

.estilo_campos{
    width: 180px;
}

#paginador{
    padding: 5px 0;
}

.paginator {
    text-decoration: none;
    background-color:#FFF;
    padding:2px;
    border:1px solid #CCC;
    color: #000000;
}
.paginator_check {
    background-color:#DBF168;
    font-weight:bold;
    padding:2px;
    border:1px solid #CCC;
}
.paginator_counter {
    padding:2px;
}

.inputGrilla{
    width: 75px;
}