/* 
    Document   : frontend
    Created on : 25/01/2012, 01:58:41 PM
    Author     : jrodriguez
    Description:
        Purpose of the stylesheet follows.
*/

body{
    color: #000000;
    font-family: arial;
    font-size: 12px;
    text-align: justify;
    margin: 0;
    background-color: #F5F5F5;
    /*background-image: url('../images/old_paper.jpg');*/
}

input, textarea, select{
    text-transform: uppercase;
}

textarea{
    resize: none;
}

hr{
    background-color: #ffdd57;
    border: 0 none;
    color: #ffdd57;
    height: 1px;
    width: 100%;
}

img{
    border: none;
}

.pageloader{
    position:absolute; 
    z-index:100; 
    background-color:#EDEDED;
    opacity:.90;
    filter:alpha(opacity=90);
    width:100%;
}
#div_loader_img{
    position:absolute;
    background-image:url("../images/loadingBox.png");
    background-repeat:no-repeat;
    width:490px;
    height:290px;
    font-size:16px;
    font-weight:bold;
    color:#000000;
    white-space:nowrap;
}

/* Comienzo del estilo para la pagina de errores*/
#div_error{
    width: 700px;
    height: 395px;
    margin: 50px auto;
    background-color: #FFFFFF;
    border: 1px #000000 solid;
    /*border.radius: 10px;*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    opacity: 0.8;
    display:table;
}

#text_error{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    font-size:18px
}

#div_error2{
    width: 700px;
    height: 350px;
    margin: 50px auto;
    background-color: #FFFFFF;
    border: 1px #000000 solid;
    /*border.radius: 10px;*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    opacity: 0.8;
    padding-top: 40px;
}

#text_error2{
    text-align: center;
    font-size:18px
}

.detalle_error{
    height:200px;
    overflow:auto;
    display: none;
    text-align:left;
}

.err_child{
    margin: 0 10px;
    border: solid 1px #666;
}

#info_query{
    margin: 0 30px;
}
/* Fin del estilo para la pagina de errores*/

#mostrar_error{
    color: #F00;
    position: relative;
    display: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#mostrar_error2{
    color: #f00;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#main{
    position: relative;
    margin: auto;
    width: 960px;
}

#cabecera{
    background-color: #FFFFFF;
    background-image: url('../images/logo_mat.png');
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
    height: 40px;
    -moz-border-radius:15px 15px 0 0;
    -webkit-border-radius:15px 15px 0 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#cabecera2{
    background-color: #FFFFFF;
    background-image: url('../images/logo_agro.png');
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
    height: 70px;
}

#global{
    margin: auto;
    background-image: url('../images/old_paper.jpg');
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
}

#global_sep{
    padding-top: 12px;
}

#menu{
    width: 185px;
    float: left;
    padding: 0 0 20px 0;
}

#boton_inicio img{
    border: none;
    width: 32px;
    height: 37px;
}

#lista_accordion{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#lista_accordion a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#lista_accordion a:hover{
    color: #FFA500;
    text-decoration: none;
    font-weight: bold;
}

#logo_menu{
    padding-top: 20px;
    text-align: center;
}

#logo_menu img{
    width: 150px;
    height: 40px;
}

#contenido{
    padding: 0 0 0 5px;
    width: 770px;
    float: left;
}

#contenido_externo{
    width: 960px;
    float: left;
}

#pie_pagina{
    clear: both;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

#pie_pagina hr{
    background-color: #000000;
    border: 0 none;
    color: #000000;
    height: 1px;
    width: 100%;
}

#izq_pie_pagina{
    background-image: url('../images/esquina_izquierda.png');
    width: 40px;
    height: 65px;
    background-repeat: no-repeat;
    float: left;
}

#pie_pagina_central{
    background-image: url('../images/centro.png');
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    width: 720px;
    height: 65px;
    float: left;
}

#pie_pagina_central span{
    font-size: 10px;
}

#der_pie_pagina{
    background-image: url('../images/esquina_derecha.png');
    width: 40px;
    height: 65px;
    background-repeat: no-repeat;
    float: left;
}

#div_fecha{
    text-align: right;
}

#titulos_tabla{
    width: 100%;
}

#titulos_tabla th{
    text-align: left;
    font-size: 16px;
    color: #CC0000;
    width: 170px;
}

#titulos_tabla td{
    text-align: left;
    padding-left: 5px;
    font-size: 16px;
    color: #000000;
}

#titulo_modulo{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #B45F04;
    padding-bottom: 10px;
}

#titulo_index{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #285c00;
    padding-bottom: 10px;
}

#titulo_principal{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #B45F04;
    padding-bottom: 10px;
}

#modulo{
    padding: 15px;
    background-color: #FFFFFF;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#principal{
    font-size: 16px;
    width: 100%;
}

#principal th{
    text-align: left;
}

#modulo_externo{
    height: 500px;
    padding: 15px;
    background-image: url('../images/fondo_externo.jpg');
    background-repeat: no-repeat;
    /*border.radius: 15px;*/
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

.labelText{
    color: #000000;
}

.labelText2 input{
    text-transform: none !important;
}

.inputLogin{
    width: 150px;
}

.btnLogin{
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

#table_login{
    background-image: url('../images/fondo_login.png');
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: 3px #000000 solid;
    /*border.radius: 15px;*/
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

#botones{
    text-align: right;
    margin-bottom: 15px;
}

#botones2{
    text-align: right;
    padding-top: 15px;
}

#mensajes{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.msj_verde{
    color: darkgreen;
    font-weight: bold;
}

.msj_rojo, .error{
    color: #F00;
    font-weight: bold;
}

.titulos_tabla{
    background-color: #04B486;
    color: #FFFFFF;
}

.primeraclase{
    background-color:#FFF;
    border:1px solid #FFF;
    padding-top: 1px;
    padding-bottom: 1px;
}

.segundaclase{
    background-color:#F4F4F4;
    border:1px solid #FFF;
    padding-top: 1px;
    padding-bottom: 1px;
}

.terceraclase{
    background-color:#CEECF5;
}

.estilo_campos{
    width: 195px;
}

.estilo_campos2{
    width: 280px;
}

#paginador{
    padding: 5px 0;
}

.paginator {
    text-decoration: none;
    background-color:#FFF;
    padding:2px;
    border:1px solid #CCC;
    color: #000000;
}
.paginator_check {
    background-color:#DBF168;
    font-weight:bold;
    padding:2px;
    border:1px solid #CCC;
}
.paginator_counter {
    padding:2px;
}

form fieldset{
    border-width:2px;
    border-style:solid;
    border-color:#000000;
}

form fieldset legend{
    font-size: 14px;
    color: #FFFFFF;
    font-weight:bold;
    background-color:#C8131B;
    border-width:2px;
    border-style:solid;
    border-color:#333333;
    padding:2px 5px;
    margin:10px 0px 10px 0px;
}

.inputGrilla{
    width: 200px;
}

.cuadricula {
    width: 50px;    
}

#nrocosecha{
    font-weight: bold;
    font-size: 18px;
}

.crproductor{
    width: 135px;
}

.transparente{
    border: none;
    width: 40px;
    background: none;
}

.incorrecto{
    color: #F00;
}

.correcto{
    color: #00CC00;
}

.campo_formula{
    width: 95%;
}

.formula_campos{
    width: 50px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }