#principal_reporte{
    border: 1px red solid;
    width: 800px;
    margin: 0 auto;
    position: absolute;
}

#cabecera_empresa{
    float: left;
}

#cabecera_fecha{
    float: right;
}

#cuerpo_reporte{
    clear: both;
    border: 1px green solid;
}

#pie_pagina_reporte{
    clear: both;
}

#pie_pagina_reporte hr{
    background-color: #000000;
    border: 0 none;
    color: #000000;
    height: 2px;
    width: 800px;
}