#principal_reporte{
    font-family: Arial;
    font-size: 13px;
    width: 800px;
    margin: 5px auto;
}

#principal_reporte table{
    font-size: 12px;
}

#pie_pagina_reporte{
    clear: both;
}

#pie_pagina_reporte hr{
    margin-top: 50px;
    background-color: #000000;
    border: 0 none;
    color: #000000;
    height: 2px;
    width: 800px;
}

#titulo_reporte{
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 8px;
}

#tabla_reporte2{
    padding-top: 20px;
}

#reporte_fila_separar{
    height: 35px;
    vertical-align: bottom;
}

.centrar{
    text-align: center;
}